{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block homeactive %}active{% endblock homeactive %}




{% block body %}
<div class="container" >
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to django blog</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
              <a href="{% url 'blog' %}" class="btn btn-primary my-2">Click here to blog</a>
              <a href="#" class="btn btn-secondary my-2">Contact us</a>
            </p>
          </div>
        </div>
      </section>
      
</div>
{% endblock body %}